#content {
  margin: 40px auto;
  max-width: min(83ex, calc(100% - 80px));
}

header .blog-logo img {
  height: 128px;
  border-radius: 50%;
}

footer.read-next-story .read-next-story .post:before {
  content: "Siguiente"
}

footer.read-next-story .read-next-story.prev .post:before {
  content: "Anterior"
}
