---
layout: custom-style
title: putolindo.com
____cover: 'images/fernando.webp'
navigation: False
logo: 'images/fernando-bw-white-512.png'
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header {% if layout.cover %}"
        style="background-image: url({{ layout.cover | relative_url }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ "/" | relative_url }}"><img src="{{ page.logo | relative_url }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <a href="{{ "/" | relative_url }}"><h1 class="page-title">{{ site.name }}</h1></a>
            <h2 class="page-description">{{ site.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
    <em>{{ page.subtitle }}</em>
    {% endif %}
    <author><strong>{{ page.author }}</strong></author>
    <p><em>Este artículo fue publicado en el diario Crítica de la Argentina el día {{page.date}}</em></p>

    <p>{{ content }}</p>

</main>

<footer class="read-next-story">
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ next.cover | relative_url }}){% else %}no-cover{% endif %}" href="{{ page.next.url | relative_url }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                {% if page.next.subtitle %}
                <p>{{ page.next.subtitle | strip_html }}</p>
                {% else %}
                <p>{{ page.next.content | strip_html | truncatewords:30 }}</p>
                {% endif %}
            </section>
        </a>
    {% endif %}
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ previous.cover | relative_url }}){% else %}no-cover{% endif %}" href="{{ page.previous.url | relative_url }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                {% if page.previous.subtitle %}
                <p>{{ page.previous.subtitle | strip_html }}</p>
                {% else %}
                <p>{{ page.previous.content | strip_html | truncatewords:30 }}</p>
                {% endif %}
            </section>
        </a>
    {% endif %}
</footer>
